{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block idpage %}news{% endblock %}

{% block title %}
Редактирование
{% endblock %}

{% block header %}
Редактирование публикации
{% endblock %}

{% block count %}
Дата публикации: {{ post.dateCreated|date:'d-m-Y H:i' }}
{% endblock %}

{% block image %}
{% static 'assets/new.jpg' %}
{% endblock %}

{% block form %}
    <!-- Форма для добавления -->
    <form method="post" name="edit">
        {% csrf_token %}
        {{ form }}
        <div class="btn-form">
            <input class="btn-btn" type="submit" value="Сохранить пост">
            <input class="btn-btn" type="button" onclick="history.back();" value="Отмена">
        </div>
    </form>
{% endblock %}