{% extends 'flatpages/default.html' %}
{% load static %}

{% block idpage %}home{% endblock %}

{% block title %}
Главная
{% endblock %}

{% block header %}
Добро пожаловать на новостной сайт!
{% endblock %}

{% block count %}
<br>
{% endblock %}

{% block image %}
{% static 'assets/home.jpg' %}
{% endblock %}

{% block content %}
<hr>
<p class="fs-5 mb-4">Вы попали на главную страницу новостного сайта. Для просмотра новостей перейдите к пункту меню <a class="content-link" href="/news/">Новости</a>.</p>
<p class="fs-5 mb-4">Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании
    системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное
    информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов)
     участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
<p class="fs-5 mb-4">Сложившаяся структура организации представляет собой интересный эксперимент проверки направлений
    прогрессивного развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности
    позволяет выполнять важные задания по разработке модели развития. Значимость этих проблем настолько очевидна,
    что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в
    формировании новых предложений.</p>
<p class="fs-5 mb-4">Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений. С другой
    стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. С другой
    стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия.</p>
<p class="fs-5 mb-4">Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы
    обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры
    обеспечивает участие в формировании систем массового участия. Идейные соображения высшего порядка, а также
    рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.</p>
{% endblock %}